# Experimental
experimental/

# Compiled files
target/
build/

# Docs - in progress
docs/

# Dependency directories
Cargo.lock
Cargo.toml.orig
/vendor/

# Generated documentation
/doc/

# IDE files
.idea/
.vscode/
